.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    &__inner {
        display: flex;
        padding: 35px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #505369;
    }
    .nav {
        display: flex;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        &__link {
            margin-left: 60px;
            color: #fff;
            opacity: .65;
            text-decoration: none;
            font-size: 13px;
            transition: .5s all;
            &:first-child {
                margin-left: 0;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}
.header_fixed {
    position: fixed;
    height: 70px;
    background-color: #31344e;
    animation: fixedMenu .8s forwards;
    .header__inner {
        height: 70px;
        border-bottom: none;
        padding: 0;
    }
}

@keyframes fixedMenu {
    0%{
        height: 50px;
    }
    50%{
        height: 90px;
    }
    100%{
        height: 70px;
    }
}