.promo {
    min-height: 620px;
    padding-top: 70px;
    padding-bottom: 140px;
    background: url(../img/bg1.jpg) no-repeat (center / cover);
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: #F7F7F7;
        text-align: center;
    }
    &__subtitle {
        font-size: 58px;
        line-height: 80px;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
    }
    &__text {
        font-size: 24px;
        line-height: 38px;
        font-weight: 500;
        color: #F7F7F7;
        text-align: center;
    }
    &__link {
        margin-top: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
            margin: 0 20px;
            padding: 16px 58px;
            font-size: 24px;
            color: #FFFFFF;
            background-color: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 30px;
            transition: background .5s ease;
            &:hover {
                background: $main-color;
                border: 1px solid $main-color;
            }
        }
    }
}